{% extends "layout.html" %}

{% block content %}

<form action="{{ url_for('users.login')}}" method="post">
    {{ form.hidden_tag() }}
    {{ form.id }}
    <div>{{ form.username.label }}: {{ form.username }}</div>
    {% if form.username.errors %}
    <ul class="errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    <div>{{ form.password.label }}: {{ form.password }}</div>
    {% if form.password.errors %}
    <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    <div><input type="submit" value="Login"></div>
</form>

{% endblock %}
