<!doctype html>
<html>
    <head>
        <title>Snaps</title>
    </head>
    <body>
        <h1>Snaps</h1>
        
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        
        {% if not current_user.is_authenticated() %}
        <a href="{{ url_for('users.login') }}">login</a>
        {% else %}
        <a href="{{ url_for('users.logout') }}">logout</a>
        {% endif %}
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
    </html>
